<p id="notice"><%= notice %></p>

<% if current_user %>

  <h1>Registered Applications</h1>

  <% if @registered_applications.count == 0 %>
    <p>None...</p>
  <% else %>
    <table>
      <tbody>
        <% @registered_applications.each do |registered_application| %>
          <tr>
            <td><%= registered_application.name %></td>
            <td><%= registered_application.url %></td>
            <td><%= link_to 'Show', registered_application %></td>
            <td><%= link_to 'Edit', edit_registered_application_path(registered_application) %></td>
            <td><%= link_to 'Destroy', registered_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <br />

  <%= link_to 'New Registered application', new_registered_application_path %>
<% else %>
  <h1>Log in to register applications!</h1>
<% end %>

